html{
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 1.25;
    font-family: 'Open Sans', 'sans-serif', 'fantasy';
}

.link {
    color: #ffdd00;
    text-decoration: none;
}

.link:hover{
    color: #d83c56
}

p{
    color: #d80000
}

nav {
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: transparent;
    padding: 15px;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

nav li{
    padding-left: 20px;
}

nav li a{
    color: #00ccff;
    text-decoration: none;
    font-size: 25px;
    font-family: "luminari";
    letter-spacing: 0.7px;
    font-weight: 750;
    display: inline-block;
    width: auto;
    margin: 0 auto;
}

nav a:hover{
    color: #ff7070;
}

nav h1{
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
}

.page{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto auto auto;
}

.profile{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-flow: row wrap;
}

